*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root{
    --primary-color : rgb(209, 160, 0); 
    --text-color : #f4f4f4;
}


body{
    width: 100%;
    display: flex;
    
    justify-content: center;
    background-color: #111;
}


section{
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.container{
    width: 350px;
    height: 500px;
    border-radius: 20px;
    background-color: #141414;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.container .nav{
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.container .nav i{
    color: var(--primary-color);
    font-size: 20px;
}

.container #nav-list{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.849);
    height: 90%;
    position: absolute;
    top: 15%;
    right: -500px;
    z-index: 1;
    overflow: scroll;
    transition: .4s linear;
}

.nav-list-active{
    right: 0 !important;
}

.container #nav-list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 20px ;
    border-bottom: 1px solid #f4f4f4;
}

.container #nav-list li h3{
    color: #ddd;
    font-size: 18px;
}

.container #nav-list li p{
    color: #ccc;
    font-size: 16px;
}

.container #nav-list li i{
    color: var(--primary-color);
    font-size: 18px;
}

.container h1{
    text-transform: uppercase;
    letter-spacing: 1.4;
    color: #f4f4f4;
    font-size: 25px;
}

.container p{
    color: #ccc;
    font-size: 20px;
}

.container img{
    width: 90%;
    height: 40%;
}

.btn-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.btn-container i{
    font-size: 20px;
    padding: 10px;
    color: var(--primary-color);
}

#range{
    width: 80%;
    height: 4px;
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 80px;
      -webkit-appearance: none;
      background-color: var(--primary-color);
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: var(--primary-color);
    }


}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: var(--primary-color); 
}
input[type="range"]::-moz-range-track {  
  background-color: var(--text-color);
}
